<!DOCTYPE HTML>
<html>
    <head>    
        <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script src="//vk.com/js/api/openapi.js"></script>
    </head>
    <body>
        <script src="/script.js"></script>
        <button onclick="vk.logout()">Разлогинится</button>
        <button onclick="getUser()">кто пользователь?</button>
        <button onclick="document.location.reload (true);">обновить</button>
    </body>
</html>
